/* Navbar Start */
.navbar-toggle {
  display: none; 
  cursor: pointer;
}
.navbar {
  height: 12vh;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #5b05ee;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar li {
  margin-right: 15px;
}

.logo {
  height: 13vh; 
  margin-bottom: 10px;
}

.navbar a {
  color: black;
  font-size: 1.1rem;
  text-decoration: none;
  padding: 10px 15px;
  border-bottom: 2px solid transparent;
}

.navbar a:hover {
  border-color: #5b05ee;
  color: #5b05ee;
  font-weight: bold;
}

/* Main Section Start*/
.main-section {
  position: relative;
  background-image: url('./Images/tidy-space.jpeg'); 
  background-size: cover;
  background-position: center;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}
.main-content {
  color: black; 
  max-width: 700px; 
  /* padding: 20px; */
  /* position: relative;  */
  z-index: 1;
}
.welcome-text {
  font-size: 3rem;
  color:#5b05ee;
  margin-top: 180px;  
  max-width: 700px; 
}
.intro-text {
  font-size: 1.1rem;
  line-height: 1.2rem; 
  margin-bottom: 30px;
  margin-top: -20px; 
  /* margin-top: 80px;    */
}
.main-section-buttons {
  background-color: #5b05ee; 
  color: white; 
  border: 2px solid white; 
  border-radius: 8px;
  padding: 10px 20px; 
  font-size: 1.1rem; 
  cursor: pointer;
  margin-bottom: 10px;;
}
.main-section-buttons:hover {
  background-color: white;
  color: #5b05ee;
  border: 2px solid #5b05ee;
  font-weight: bold;
}
.blurred-box {
  position: absolute; 
  border: 3px solid #5b05ee;
  border-radius: 8px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 30%;
  background-color: rgba(255, 255, 255, 0.5); 
  backdrop-filter: blur(10px); 
  z-index: 0; 
}
/* Main Section End*/

/* Service Cards */
.services-container-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: white;
  color:black;
}

.services-heading {
  font-size: 3rem;
  margin-top: 20px;
  color: #5b05ee;
}

.services-description-text {
  font-size: 1rem;
  margin-bottom: 65px;
  padding: 30px;
}

.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
    background-color:#5b05ee;

}
.service-card {
  width: 300px;
  height: 300px; /* Adjust as needed */
  margin: 20px;
  perspective: 1000px;
}

.service-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.service-card:hover .service-card-inner {
  transform: rotateY(180deg);
}

.service-card-front,
.service-card-back {
  color:white;
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color:#5b05ee;
}

.service-card-back {
  transform: rotateY(180deg);
}

/* Service Section End */

/* About Section Start */
.about-heading {
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: #5b05ee;
  background-color: white;
}
.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
      background-color: white;
}

.about-image {
    width: 50%;
    margin-top: 100px;
}

.about-text {
    width: 49%; 
    margin-top: 90px;
    padding-left: 30px;
    padding-right: 30px;
    color: black;
    
}
.about-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-header-two{
  border-bottom: 5px solid #5b05ee;
}
/* About Section End */

/* FAQ Section Start */
.general-container {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 70px;
}

.faq-header {
  margin-top: 50px; /* Just for spacing */
}

.faq-content {
  display: flex;
  align-items: center; /* Align items to the top */
  
}

.faq-image{
 max-width: 65vw;
 position: relative;
  left: -20px;
}



/* Add your additional CSS styles as needed */















